# Application
APP_NAME="Quiz Auth Module"
DEBUG=false
ENVIRONMENT=production

# Database
DATABASE_URL=sqlite+aiosqlite:///./quiz_auth.db

# Security
SECRET_KEY=your-secret-key-min-32-chars-long-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
VERIFICATION_TOKEN_EXPIRE_HOURS=24

# Password
BCRYPT_ROUNDS=12

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=saidjalol1908@gmail.com
SMTP_PASSWORD=athj weyr qoxw acfq
SMTP_FROM_EMAIL=noreply@quizapp.com

# Frontend
FRONTEND_URL=http://localhost:8000
